{% extends 'base.html' %}

{% block container %}
  <h1 class="display-5 mt-4">Летим из <span data-test="from">Новосибирска</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ tours | length }}</span> туров, от <span data-test="pricemin">{{ tours.price }}</span> до <span data-test="pricemax">{{ tours.price | max}}</span> и от <span data-test="nightsmax">{{ tours.nights | min }}</span> ночей до <span data-test="nightsmax">{{ tours.nights | max }}</span> ночей</p>
{% endblock %}
